<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>STRING_CHOOSE_IBABY</key>
	<string>选取Lucky贝比</string>
	<key>STRING_VERIFY_CODE_INCORRECT</key>
	<string>验证码错误，请重新输入。</string>
	<key>MAIL_MSG_DELETING</key>
	<string>信件删除中......</string>
	<key>MAIL_MSG_DELETE_ALL_SUCCESS</key>
	<string>信件已全部删除!</string>
	<key>STRING_ACCESS_DENY_DEFAULT</key>
	<string>无法连接登入服务器，请检查您的网络状态，或稍后再试。</string>
	<key>STRING_REGISTER_PASSWORD_NOT_MATCH</key>
	<string>两次输入密码不同，请重新输入</string>
	<key>STRING_APP_STORE_ICOIN_DESC</key>
	<string>%sｉ币</string>
	<key>STRING_USERNAME_IS_EMPTY</key>
	<string>账号不能为空。</string>
	<key>STRING_POKERSLOT_BANKRUPTCY</key>
	<string>游戏币不足%d，无法启动拉霸机！\n按「确定」立即补充吧！</string>
	<key>STRING_APP_STORE_BANKRUPTCY</key>
	<string>ｉ币不够了吗？ \n按「确定」立即补充吧！</string>
	<key>STRING_INPUT_TEXT_NICKNAME</key>
	<string>请输入昵称</string>
	<key>STRING_LEAVE_GAME_GAME_DISCONNECT</key>
	<string>与游戏厅馆联机中断！</string>
	<key>STRING_USER_JOIN_GAME_MONEY_IS_ABOVE_MAXIMUM</key>
	<string>您的财产高于进入此馆之限制，请重新选择厅馆！</string>
	<key>IGS_LIVE_EXIT_TITLE</key>
	<string>离开</string>
	<key>STRING_LEAVE_GAME_DEFAULT</key>
	<string>与游戏厅馆联机中断！</string>
	<key>STRING_FACEBOOK_UNAVAILABLE</key>
	<string>与Facebook的联机失败，请重新尝试登入。</string>
	<key>STRING_ACCESS_DENY_USER_NAME_NOT_FOUND</key>
	<string>此为未注册的账号，请注册后再使用会员账号登入。</string>
	<key>STRING_POKERSLOT_START</key>
	<string>触控拉杆启动\n每次%d游戏币</string>
	<key>STRING_LEAVE_GAME_USER_REQUEST</key>
	<string>玩家要求离开厅馆</string>
	<key>STRING_TITLE_REGISTER</key>
	<string>注册帐号</string>
	<key>IGS_LIVE_GAMES_TITLE</key>
	<string>游戏</string>
	<key>STRING_ZODIAC_ARI</key>
	<string>牡羊座</string>
	<key>MAIL_MSG_TITLE_EMPTY</key>
	<string>信件主旨不可为空，请重新输入！</string>
	<key>STRING_GAME_EXIT</key>
	<string>确定要离开游戏吗？</string>
	<key>STRING_NICKNAME_LIMITATION</key>
	<string>支援14个英数半型字元，7个中文字元，7个全形字元</string>
	<key>MAIL_MSG_NOT_CHOOSE_MAIL</key>
	<string>您尚未选择任何邮件！</string>
	<key>STRING_USER_DISCONNECT_DEFAULT</key>
	<string>与gametower大厅联机中断！</string>
	<key>STRING_ZODIAC_LIB</key>
	<string>天秤座</string>
	<key>STRING_REGISTER_USER_AGREEMENT</key>
	<string>未同意使用者合约，无法进行注册。</string>
	<key>IGS_LIVE_NEWS_TITLE</key>
	<string>最新消息</string>
	<key>STRING_ACCESS_DENY_VERIFY_NUMBER_ERROR</key>
	<string>验证码输入错误。</string>
	<key>STRING_ZODIAC_SGR</key>
	<string>射手座</string>
	<key>STRING_REGISTER_USERNAME_CONTAINS_SPACE</key>
	<string>账号内不可以有空格</string>
	<key>STRING_PASSWORD_IS_EMPTY</key>
	<string>密码不能为空。</string>
	<key>MAIL_MSG_WANT_DELETE</key>
	<string>确认删除此信件？</string>
	<key>STRING_GAME_VERSION</key>
	<string>游戏版本：</string>
	<key>STRING_APP_STORE_SERVICE_UNAVAILABLE</key>
	<string>购买服务暂停，请稍候再试。</string>
	<key>STRING_ACCESS_DENY_PASSWORD_INCORRECT</key>
	<string>账号或密码输入错误(密码有区分大小写)，请重新输入。</string>
	<key>STRING_VERIFY_SERVER_DISCONNECTED</key>
	<string>与验证服务器失去联机，请重新输入验证码。</string>
	<key>STRING_USERNAME_OR_PASSWORD_IS_EMPTY</key>
	<string>账号或密码不能为空。</string>
	<key>STRING_PASSWORD_IS_TOO_LONG</key>
	<string>密码输入过长。</string>
	<key>STRING_SERVER_MAINTAIN_TITLE</key>
	<string>系统维护中</string>
	<key>STRING_APP_STORE_PURCHASE_DENIED</key>
	<string>向 App store 要求购买失败。</string>
	<key>STRING_USER_JOIN_GAME_GAME_SERVER_TIMEOUT</key>
	<string>与游戏厅馆连线作业逾时！</string>
	<key>STRING_INPUT_TEXT_PASSWORD</key>
	<string>请输入密码</string>
	<key>STRING_ATTAIN_DIAMONDS</key>
	<string>已成功领取 %d 个钻石。</string>
	<key>STRING_VERIFY_SERVER_UNAVAILABLE</key>
	<string>无法连接验证服务器。</string>
	<key>STRING_WELCOME_JOIN_MEMBER</key>
	<string>欢迎加入gametower会员</string>
	<key>STRING_COMMON_REFILL_WHEEL</key>
	<string>时来运转</string>
	<key>STRING_ACCESS_DENY_L1_REJECT</key>
	<string>服务器忙碌中，请稍后再登入。</string>
	<key>MAIL_MSG_SENDING</key>
	<string>寄信中......</string>
	<key>STRING_APP_STORE_TRANSACTION_IN_PROGRESS</key>
	<string>系统交易中，请稍候...</string>
	<key>MAIL_MSG_NAME_EMPTY</key>
	<string>收件者昵称不可为空，请重新输入！</string>
	<key>STRING_IBABY_DESCRIPTION</key>
	<string>可依照星座选取护佑您的Lucky贝比，也可依照喜好选定唷！</string>
	<key>STRING_POKERSLOT_SERVICE_STOP</key>
	<string>拉霸机服務尚未启动！</string>
	<key>MAIL_MSG_SERVER_BUSY</key>
	<string>伺服器忙碌中，请稍后再试！</string>
	<key>MAIL_INPUT_TITLE</key>
	<string>最多20个英数半型字元</string>
	<key>STRING_APP_STORE_PURCHASE_LIMIT</key>
	<string>感谢您的支持，但您一周内可使用的额度超过了，请待下周再购买，谢谢。</string>
	<key>STRING_ACCESS_DENY_INVALID_PROTOCOL_VERSION</key>
	<string>游戏版本不符，请依正常方式进入游戏，系统将自动更新。</string>
	<key>STRING_ZODIAC_CAP</key>
	<string>魔羯座</string>
	<key>STRING_PASSWORD_CONFIRM</key>
	<string>确认密码</string>
	<key>STRING_ACCESS_DENY_ACCOUNT_BANNED</key>
	<string>此账号停权中。</string>
	<key>STRING_USER_JOIN_GAME_USER_IP_NOT_ALLOWED</key>
	<string>被限制的IP</string>
	<key>STRING_NO_NETWORK</key>
	<string>目前无法使用网路连线，请检查网路环境。</string>
	<key>STRING_USER_JOIN_GAME_REPEATED_DISCONNECT</key>
	<string>断线率過高不得进入此区馆，请多多参与游戏降低断线率。</string>
	<key>STRING_POKERSLOT_GOT_MONEY</key>
	<string>恭喜您获得\n%d游戏币</string>
	<key>MAIL_MSG_CONTENT_TOO_LONG</key>
	<string>信件内容过长，请修改后再度寄出！</string>
	<key>STRING_POKERSLOT_TIMEOUT</key>
	<string>拉霸机维护中，请稍候。</string>
	<key>NEWS_MSG_CONTEST_NOT_STARTED</key>
	<string>竞赛尚未开打。</string>
	<key>STRING_USER_JOIN_GAME_THEME_IS_FULL</key>
	<string>本馆人数已达上限，请选择其它厅馆，或稍后再进入本馆。</string>
	<key>STRING_GAME_LOGOUT</key>
	<string>是否要登出游戏？</string>
	<key>STRING_REGISTER_USERNAME_PROMPT</key>
	<string>以英文开头的2~14个英/数字</string>
	<key>STRING_COMMON_BUY</key>
	<string>储值</string>
	<key>STRING_USERNAME_IS_TOO_LONG</key>
	<string>账号输入过长。</string>
	<key>STRING_USER_JOIN_GAME_DEFAULT</key>
	<string>未知原因，无法进入本厅馆！</string>
	<key>STRING_LEAVE_GAME_BASE_DISCONNECT</key>
	<string>与服务器联机中断！</string>
	<key>STRING_USER_JOIN_GAME_VERSION_NOT_MATCHED</key>
	<string>游戏版本不符，请依正常方式进入游戏，系统将自动更新。</string>
	<key>MAIL_MSG_WANT_DELETE_ALL</key>
	<string>确定要删除%d封选取邮件？</string>
	<key>MAIL_MSG_READ_FAIL</key>
	<string>读取信件内容失败！</string>
	<key>STRING_ZODIAC_VIR</key>
	<string>处女座</string>
	<key>STRING_SERVER_MAINTAIN_CONTENT</key>
	<string>每月第2.4.5周三\n上午9:00〜12:00(GMT +8)\n为游戏例行维护时间。</string>
	<key>STRING_POKERSLOT_NO_MONEY</key>
	<string>玩家游戏币不足%d，无法启动拉霸机！</string>
	<key>STRING_REGISTER_PASSWORD_IS_TOO_SHORT</key>
	<string>密码长度要大于六个字符</string>
	<key>STRING_USER_JOIN_GAME_GAME_SERVER_IS_SHUTTINGDOWN</key>
	<string>游戏厅馆执行关机中，请稍候再登入！</string>
	<key>STRING_TITLE_CREATE_NICKNAME</key>
	<string>请填写游戏昵称及选取Lucky贝比图示</string>
	<key>STRING_TITLE_CONTRACT</key>
	<string>使用者合约</string>
	<key>STRING_ACCESS_DENY_NO_BASE</key>
	<string>服务器维护中，请稍后再登入。</string>
	<key>MAIL_MSG_DELETE_SUCCESS</key>
	<string>信件已删除!</string>
	<key>STRING_REGISTER_SUCCESS</key>
	<string>恭喜注册账号成功</string>
	<key>STRING_REGISTER_PASSWORD_PROMPT</key>
	<string>大小写有别的6~14个英/数字</string>
	<key>MAIL_MSG_READING</key>
	<string>读取信件中......</string>
	<key>MAIL_MSG_SEND_TOO_FAST</key>
	<string>发信速度过快，请稍后再试！</string>
	<key>STRING_USERNAME</key>
	<string>帐号</string>
	<key>STRING_ZODIAC_CNC</key>
	<string>巨蟹座</string>
	<key>STRING_VERIFY_CODE_IS_EMPTY</key>
	<string>验证码不能为空。</string>
	<key>STRING_POKERSLOT_SERVICE_ERROR</key>
	<string>拉霸机服務發生異常！( %d )</string>
	<key>STRING_REGISTER_EMAIL_PROMPT</key>
	<string>email格式不符，请重新输入</string>
	<key>STRING_USER_JOIN_GAME_LEVEL_IS_BELOW_MINIMUM</key>
	<string>您的等级不符合进入此馆之限制，请重新选择厅馆！</string>
	<key>STRING_REGISTER_USERNAME_INVALID</key>
	<string>请输入一个合法的帐号</string>
	<key>STRING_ZODIAC_SCO</key>
	<string>天蝎座</string>
	<key>IGS_LIVE_FEEDBACK_TITLE</key>
	<string>意见响应</string>
	<key>MAIL_MSG_DELETE_FAIL</key>
	<string>删除失败！</string>
	<key>STRING_ZODIAC_AQR</key>
	<string>水瓶座</string>
	<key>STRING_ACCESS_DENY_USER_NAME_IS_EMPTY</key>
	<string>账号或密码输入错误(密码有区分大小写)，请重新输入。</string>
	<key>STRING_USER_JOIN_GAME_MONEY_IS_BELOW_MINIMUM</key>
	<string>您的财产低于进入此馆之限制，请重新选择，或购买ｉ币后再次进入！</string>
	<key>STRING_PASSWORD</key>
	<string>密码</string>
	<key>STRING_USER_JOIN_GAME_INVALID_THEME_NAME</key>
	<string>游戏厅馆不存在，联机失败。</string>
	<key>STRING_SERVER_MAINTAIN_CONTENT_WARNING</key>
	<string>目前系统紧急维护中\n请耐心等候。</string>
	<key>STRING_TITLE_HELP</key>
	<string>使用者说明</string>
	<key>MAIL_INPUT_RECEIVER</key>
	<string>请输入昵称</string>
	<key>STRING_LEAVE_GAME_MASTER_KICK</key>
	<string>您被厅馆系统踢出游戏！</string>
	<key>STRING_LOADING_TIME_OUT</key>
	<string>网路连线逾时，请确认您的网路环境是否稳定。</string>
	<key>STRING_APP_STORE_SYSTEM_ERROR</key>
	<string>系统异常，请稍候再购买。</string>
	<key>STRING_ZODIAC_TAU</key>
	<string>金牛座</string>
	<key>MAIL_MSG_TITLE_TOO_LONG</key>
	<string>信件主旨过长，请重新输入！</string>
	<key>STRING_ZODIAC_PSC</key>
	<string>双鱼座</string>
	<key>STRING_ATTAIN_ICOINS</key>
	<string>已成功领取 %dｉ币。</string>
	<key>MAIL_MSG_SEND_SUCCESS</key>
	<string>信件已寄出!</string>
	<key>MAIL_MSG_SEND_FAIL</key>
	<string>寄信失败！</string>
	<key>STRING_APP_STORE_CONNECT_FAIED</key>
	<string>无法连结 iTunes Store</string>
	<key>MAIL_INPUT_CONTENT</key>
	<string>最多200个英数半型字元</string>
	<key>STRING_ENTER_NICKNAME</key>
	<string>请输入游戏昵称</string>
	<key>STRING_I_AGREE</key>
	<string>我同意</string>
	<key>STRING_MAINTENANCE_TIME</key>
	<string>每月第2.4.5周三上午9:00~12:00(GMT+8)维护</string>
	<key>STRING_ZODIAC_LEO</key>
	<string>狮子座</string>
	<key>IGS_LIVE_SOCIAL_TITLE</key>
	<string>社群</string>
	<key>MAIL_MSG_NAME_TOO_LONG</key>
	<string>收件者昵称过长，请重新输入！</string>
	<key>STRING_DAILY_REWARD</key>
	<string>每日首登奖励%sｉ币</string>
	<key>MAIL_MSG_BOX_FULL</key>
	<string>对方信箱已满！</string>
	<key>STRING_ZODIAC_GEM</key>
	<string>双子座</string>
	<key>STRING_USER_JOIN_GAME_USER_IS_DUPLICATE</key>
	<string>此账号已有人使用，如果您被卡账号或账号被盗用，请速与客服联络。</string>
	<key>STRING_INPUT_TEXT_ACCOUNT</key>
	<string>请输入帐号</string>
	<key>STRING_USER_CONNECT_FAILED_DEFAULT</key>
	<string>无法连接登入服务器，请检查您的网络状态。</string>
	<key>STRING_JOIN_REWARD</key>
	<string>首次登入奖励%sｉ币</string>
	<key>STRING_USER_JOIN_GAME_THEME_NOT_ACTIVE</key>
	<string>游戏厅馆尚未开启，请稍候再登入！</string>
	<key>STRING_ICOINS</key>
	<string>ｉ币</string>
	<key>STRING_ACCESS_DENY_DUPLICATE_LOGIN</key>
	<string>此账号已有人使用，如果您被卡账号或账号被盗用，请速与客服联络。</string>
	<key>STRING_SYSTEM_INFO</key>
	<string>系统讯息</string>
</dict>
</plist>
