<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IGS_LIVE_NEWS_TITLE</key>
	<string>最新消息</string>
	<key>IGS_LIVE_GAMES_TITLE</key>
	<string>遊戲</string>
	<key>IGS_LIVE_FEEDBACK_TITLE</key>
	<string>意見回應</string>
	<key>IGS_LIVE_SOCIAL_TITLE</key>
	<string>社群</string>
	<key>IGS_LIVE_EXIT_TITLE</key>
	<string>離開</string>
	<key>STRING_INPUT_TEXT_ACCOUNT</key>
	<string>請輸入帳號</string>
	<key>STRING_INPUT_TEXT_PASSWORD</key>
	<string>請輸入密碼</string>
	<key>STRING_INPUT_TEXT_NICKNAME</key>
	<string>請輸入暱稱</string>
	<key>STRING_TITLE_REGISTER</key>
	<string>註冊帳號</string>
	<key>STRING_TITLE_CONTRACT</key>
	<string>使用者合約</string>
	<key>STRING_TITLE_HELP</key>
	<string>使用者說明</string>
	<key>STRING_SYSTEM_INFO</key>
	<string>系統訊息</string>
	<key>STRING_WELCOME_JOIN_MEMBER</key>
	<string>歡迎加入gametower會員</string>
	<key>STRING_USERNAME</key>
	<string>帳號</string>
	<key>STRING_PASSWORD</key>
	<string>密碼</string>
	<key>STRING_PASSWORD_CONFIRM</key>
	<string>確認密碼</string>
	<key>STRING_I_AGREE</key>
	<string>我同意</string>
	<key>STRING_REGISTER_USERNAME_PROMPT</key>
	<string>以英文開頭的2~14個英/數字</string>
	<key>STRING_REGISTER_PASSWORD_PROMPT</key>
	<string>大小寫有別的6~14個英/數字</string>
	<key>STRING_REGISTER_USERNAME_INVALID</key>
	<string>請輸入一個合法的帳號</string>
	<key>STRING_REGISTER_USERNAME_CONTAINS_SPACE</key>
	<string>帳號內不可以有空格</string>
	<key>STRING_REGISTER_PASSWORD_IS_TOO_SHORT</key>
	<string>密碼長度要大於六個字元</string>
	<key>STRING_REGISTER_PASSWORD_NOT_MATCH</key>
	<string>兩次輸入密碼不同，請重新輸入</string>
	<key>STRING_REGISTER_EMAIL_PROMPT</key>
	<string>email格式不符，請重新輸入</string>
	<key>STRING_REGISTER_USER_AGREEMENT</key>
	<string>未同意使用者合約，無法進行註冊。</string>
	<key>STRING_REGISTER_SUCCESS</key>
	<string>恭喜註冊帳號成功</string>
	<key>STRING_TITLE_CREATE_NICKNAME</key>
	<string>請填寫遊戲暱稱及選取Lucky貝比圖示</string>
	<key>STRING_ENTER_NICKNAME</key>
	<string>請輸入遊戲暱稱</string>
	<key>STRING_NICKNAME_LIMITATION</key>
	<string>支援14個英數半型字元，7個中文字元，7個全形字元</string>
	<key>STRING_NO_NETWORK</key>
	<string>目前無法使用網路連線，請檢查網路環境。</string>
	<key>STRING_CHOOSE_IBABY</key>
	<string>選取Lucky貝比</string>
	<key>STRING_IBABY_DESCRIPTION</key>
	<string>可依照星座選取護祐您的Lucky貝比，也可依照喜好選定唷！</string>
	<key>STRING_ZODIAC_ARI</key>
	<string>牡羊座</string>
	<key>STRING_ZODIAC_TAU</key>
	<string>金牛座</string>
	<key>STRING_ZODIAC_GEM</key>
	<string>雙子座</string>
	<key>STRING_ZODIAC_CNC</key>
	<string>巨蟹座</string>
	<key>STRING_ZODIAC_LEO</key>
	<string>獅子座</string>
	<key>STRING_ZODIAC_VIR</key>
	<string>處女座</string>
	<key>STRING_ZODIAC_LIB</key>
	<string>天秤座</string>
	<key>STRING_ZODIAC_SCO</key>
	<string>天蠍座</string>
	<key>STRING_ZODIAC_SGR</key>
	<string>射手座</string>
	<key>STRING_ZODIAC_CAP</key>
	<string>魔羯座</string>
	<key>STRING_ZODIAC_AQR</key>
	<string>水瓶座</string>
	<key>STRING_ZODIAC_PSC</key>
	<string>雙魚座</string>
	<key>STRING_ACCESS_DENY_DEFAULT</key>
	<string>無法連接登入伺服器，請檢查您的網路狀態，或稍後再試。</string>
	<key>STRING_ACCESS_DENY_USER_NAME_NOT_FOUND</key>
	<string>此為未註冊的帳號，請註冊後再使用會員帳號登入。</string>
	<key>STRING_ACCESS_DENY_DUPLICATE_LOGIN</key>
	<string>此帳號已有人使用，請登出其他「gametower」遊戲或以其他帳號登入。</string>
	<key>STRING_ACCESS_DENY_PASSWORD_INCORRECT</key>
	<string>帳號或密碼輸入錯誤(密碼有區分大小寫)，請重新輸入。</string>
	<key>STRING_ACCESS_DENY_INVALID_PROTOCOL_VERSION</key>
	<string>遊戲版本不符，請依正常方式進入遊戲，系統將自動更新。</string>
	<key>STRING_ACCESS_DENY_ACCOUNT_BANNED</key>
	<string>此帳號停權中。</string>
	<key>STRING_ACCESS_DENY_USER_NAME_IS_EMPTY</key>
	<string>帳號或密碼輸入錯誤(密碼有區分大小寫)，請重新輸入。</string>
	<key>STRING_ACCESS_DENY_L1_REJECT</key>
	<string>伺服器忙碌中，請稍後再登入。</string>
	<key>STRING_ACCESS_DENY_NO_BASE</key>
	<string>伺服器維護中，請稍候再登入。</string>
	<key>STRING_ACCESS_DENY_VERIFY_NUMBER_ERROR</key>
	<string>驗證碼輸入錯誤。</string>
	<key>STRING_USER_JOIN_GAME_DEFAULT</key>
	<string>未知原因，無法進入本廳館！</string>
	<key>STRING_USER_JOIN_GAME_INVALID_THEME_NAME</key>
	<string>遊戲廳館不存在，連線失敗。</string>
	<key>STRING_USER_JOIN_GAME_THEME_NOT_ACTIVE</key>
	<string>遊戲廳館尚未開啟，請稍候再登入！</string>
	<key>STRING_USER_JOIN_GAME_THEME_IS_FULL</key>
	<string>本館人數已達上限，請選擇其他廳館，或稍後再進入本館。</string>
	<key>STRING_USER_JOIN_GAME_GAME_SERVER_TIMEOUT</key>
	<string>與遊戲廳館連線作業逾時！</string>
	<key>STRING_USER_JOIN_GAME_USER_IS_DUPLICATE</key>
	<string>此帳號已登入。</string>
	<key>STRING_USER_JOIN_GAME_GAME_SERVER_IS_SHUTTINGDOWN</key>
	<string>遊戲廳館執行關機中，請稍候再登入！</string>
	<key>STRING_USER_JOIN_GAME_USER_IP_NOT_ALLOWED</key>
	<string>被限制的IP</string>
	<key>STRING_USER_JOIN_GAME_MONEY_IS_BELOW_MINIMUM</key>
	<string>您的財產低於進入此館之限制，請重新選擇，或購買遊戲幣後再次進入！</string>
	<key>STRING_USER_JOIN_GAME_MONEY_IS_ABOVE_MAXIMUM</key>
	<string>您的財產高於進入此館之限制，請重新選擇廳館！</string>
	<key>STRING_USER_JOIN_GAME_LEVEL_IS_BELOW_MINIMUM</key>
	<string>您的等級不符合進入此館之限制，請重新選擇廳館！</string>
	<key>STRING_USER_JOIN_GAME_VERSION_NOT_MATCHED</key>
	<string>遊戲版本不符，請依正常方式進入遊戲，系統將自動更新</string>
	<key>STRING_POKERSLOT_START</key>
	<string>觸控拉桿啟動\n每次%d遊戲幣</string>
	<key>STRING_POKERSLOT_TIMEOUT</key>
	<string>拉霸機維護中，請稍候。</string>
	<key>STRING_POKERSLOT_GOT_MONEY</key>
	<string>恭喜您獲得\n%d遊戲幣</string>
	<key>STRING_POKERSLOT_NO_MONEY</key>
	<string>玩家遊戲幣不足%d，無法啟動拉霸機！</string>
	<key>STRING_POKERSLOT_BANKRUPTCY</key>
	<string>遊戲幣不足%d，無法啟動拉霸機！\n按「確認」立即補充吧！</string>
	<key>STRING_POKERSLOT_SERVICE_STOP</key>
	<string>拉霸機服務暫停！</string>
	<key>STRING_POKERSLOT_SERVICE_ERROR</key>
	<string>拉霸機服務發生異常！( %d )</string>
	<key>STRING_USER_JOIN_GAME_REPEATED_DISCONNECT</key>
	<string>斷線率過高不得進入此區館，請多多參與遊戲降低斷線率。</string>
	<key>STRING_LEAVE_GAME_DEFAULT</key>
	<string>與遊戲廳館連線中斷！</string>
	<key>STRING_LEAVE_GAME_USER_REQUEST</key>
	<string>玩家要求離開廳館</string>
	<key>STRING_LEAVE_GAME_GAME_DISCONNECT</key>
	<string>與遊戲廳館連線中斷！</string>
	<key>STRING_LEAVE_GAME_BASE_DISCONNECT</key>
	<string>與伺服器連線中斷！！</string>
	<key>STRING_LEAVE_GAME_MASTER_KICK</key>
	<string>您被廳館系統踢出遊戲！</string>
	<key>STRING_USER_CONNECT_FAILED_DEFAULT</key>
	<string>無法連接登入伺服器，請檢查您的網路狀態。</string>
	<key>STRING_USER_DISCONNECT_DEFAULT</key>
	<string>與gametower大廳連線中斷！</string>
	<key>STRING_GAME_VERSION</key>
	<string>遊戲版本：</string>
	<key>STRING_MAINTENANCE_TIME</key>
	<string>每月第2.4.5週三上午9:00~12:00(GMT+8)維護</string>
	<key>STRING_FACEBOOK_UNAVAILABLE</key>
	<string>與Facebook的連線失敗，請重新嘗試登入。</string>
	<key>STRING_VERIFY_SERVER_UNAVAILABLE</key>
	<string>無法連接驗證伺服器。</string>
	<key>STRING_VERIFY_CODE_INCORRECT</key>
	<string>驗證碼錯誤, 請重新輸入。</string>
	<key>STRING_VERIFY_CODE_IS_EMPTY</key>
	<string>驗證碼不能為空。</string>
	<key>STRING_VERIFY_SERVER_DISCONNECTED</key>
	<string>與驗證伺服器失去連線, 請重新輸入驗證碼。</string>
	<key>STRING_USERNAME_IS_TOO_LONG</key>
	<string>帳號輸入過長。</string>
	<key>STRING_PASSWORD_IS_TOO_LONG</key>
	<string>密碼輸入過長。</string>
	<key>STRING_USERNAME_IS_EMPTY</key>
	<string>帳號不能為空。</string>
	<key>STRING_PASSWORD_IS_EMPTY</key>
	<string>密碼不能為空。</string>
	<key>STRING_USERNAME_OR_PASSWORD_IS_EMPTY</key>
	<string>帳號或密碼不能為空。</string>
	<key>STRING_ATTAIN_ICOINS</key>
	<string>已成功領取 %d遊戲幣。</string>
	<key>STRING_ATTAIN_DIAMONDS</key>
	<string>已成功領取 %d 個鑽石。</string>
	<key>STRING_APP_STORE_ICOIN_DESC</key>
	<string>%s遊戲幣</string>
	<key>STRING_ICOINS</key>
	<string>ｉ幣</string>
	<key>STRING_APP_STORE_PURCHASE_DENIED</key>
	<string>向 App store 要求購買失敗。</string>
	<key>STRING_APP_STORE_TRANSACTION_IN_PROGRESS</key>
	<string>系統交易中，請稍候...</string>
	<key>STRING_APP_STORE_SERVICE_UNAVAILABLE</key>
	<string>購買服務暫停，請稍候再試。</string>
	<key>STRING_APP_STORE_PURCHASE_LIMIT</key>
	<string>感謝您的支持，但您一週內可使用的額度超過了，請待下週再購買，謝謝。</string>
	<key>STRING_APP_STORE_SYSTEM_ERROR</key>
	<string>系統異常，請稍候再購買。</string>
	<key>STRING_APP_STORE_BANKRUPTCY</key>
	<string>遊戲幣不夠了嗎？\n按「確認」立即補充吧！</string>
	<key>STRING_APP_STORE_CONNECT_FAIED</key>
	<string>無法連結 iTunes Store</string>
	<key>STRING_DAILY_REWARD</key>
	<string>每日首登獎勵%s遊戲幣</string>
	<key>STRING_JOIN_REWARD</key>
	<string>首次登入獎勵%s遊戲幣</string>
	<key>MAIL_INPUT_RECEIVER</key>
	<string>請輸入暱稱</string>
	<key>MAIL_INPUT_TITLE</key>
	<string>最多20個英數半型字元</string>
	<key>MAIL_INPUT_CONTENT</key>
	<string>最多200個英數半型字元</string>
	<key>MAIL_MSG_BOX_FULL</key>
	<string>對方信箱已滿！</string>
	<key>MAIL_MSG_CONTENT_TOO_LONG</key>
	<string>信件內容過長，請修改後再度寄出！</string>
	<key>MAIL_MSG_DELETE_ALL_SUCCESS</key>
	<string>信件已全部刪除!</string>
	<key>MAIL_MSG_DELETE_FAIL</key>
	<string>刪除失敗！</string>
	<key>MAIL_MSG_DELETE_SUCCESS</key>
	<string>信件已刪除!</string>
	<key>MAIL_MSG_DELETING</key>
	<string>信件刪除中......</string>
	<key>MAIL_MSG_NAME_EMPTY</key>
	<string>收件者暱稱不可為空，請重新輸入！</string>
	<key>MAIL_MSG_NAME_TOO_LONG</key>
	<string>收件者暱稱過長，請重新輸入！</string>
	<key>MAIL_MSG_NOT_CHOOSE_MAIL</key>
	<string>您尚未選擇任何郵件！</string>
	<key>MAIL_MSG_READ_FAIL</key>
	<string>讀取信件內容失敗！</string>
	<key>MAIL_MSG_READING</key>
	<string>讀取信件中......</string>
	<key>MAIL_MSG_SEND_FAIL</key>
	<string>寄信失敗！</string>
	<key>MAIL_MSG_SEND_SUCCESS</key>
	<string>信件已寄出!</string>
	<key>MAIL_MSG_SEND_TOO_FAST</key>
	<string>發信速度過快，請稍後再試！</string>
	<key>MAIL_MSG_SENDING</key>
	<string>寄信中......</string>
	<key>MAIL_MSG_SERVER_BUSY</key>
	<string>郵件伺服器忙碌中，請稍後再試！</string>
	<key>MAIL_MSG_TITLE_EMPTY</key>
	<string>信件主旨不可為空，請重新輸入！</string>
	<key>MAIL_MSG_TITLE_TOO_LONG</key>
	<string>信件主旨過長，請重新輸入！</string>
	<key>MAIL_MSG_WANT_DELETE</key>
	<string>確認刪除此信件？</string>
	<key>MAIL_MSG_WANT_DELETE_ALL</key>
	<string>確定要刪除%d封選取郵件？</string>
	<key>STRING_GAME_EXIT</key>
	<string>確定要離開遊戲嗎？</string>
	<key>STRING_GAME_LOGOUT</key>
	<string>是否要登出遊戲？</string>
	<key>STRING_SERVER_MAINTAIN_TITLE</key>
	<string>系統維護中</string>
	<key>STRING_SERVER_MAINTAIN_CONTENT</key>
	<string>每月第2.4.5週三\n上午9:00~12:00\n為遊戲例行維護時間。</string>
	<key>STRING_SERVER_MAINTAIN_CONTENT_WARNING</key>
	<string>目前系統緊急維護中\n請耐心等候。</string>
	<key>STRING_LOADING_TIME_OUT</key>
	<string>網路連線逾時，請確認您的網路環境是否穩定。</string>
	<key>NEWS_MSG_CONTEST_NOT_STARTED</key>
	<string>競賽尚未開打。</string>
	<key>STRING_COMMON_BUY</key>
	<string>儲值</string>
	<key>STRING_COMMON_REFILL_WHEEL</key>
	<string>時來運轉</string>
</dict>
</plist>
